*  { 
    box-sizing: border-box;
   }

   p {
    font-family: 'Georgia', serif;
   }

body {
    margin: 10px;
    padding: 0px;
}

.header-with-icons {
    display: flex;
    align-items: center;
    padding: 20px;

 }

 h1 {
    color:#055d00;
    margin-right: 10px;
    display: inline-block;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
    /*border-bottom: 2px solid;*/
    /*border-color: black;*/
    /*padding-bottom: 10px; */
   }
.header-with-icons i {
    vertical-align: middle;
 }

 hr {
    border: 0px;
    height: 3px;
    background-color: gray;
    margin: 0;
}

.fa-leaf {
    color: green;
    font-size: 30px
    }
.fa-martini-glass-citrus {
     color: blueviolet;
     font-size: 30px
    }


    h2, h3, h4 {
        color: #505050;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
    }
    nav {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        padding: 0px;
        margin: 0;
        display: flex;
    }
    li {
        margin-right: 20px;
    }

    p {
        color: #333333;
        margin-top: 0;
        margin-bottom: 20px;
    }
    body {
        background: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
   
    img {
        box-shadow: 4px 4px 8px #333333;
        max-width: 100%;
        margin-bottom: 20px;
    }

    blockquote {
      font-style: italic;
    }
    .quote-container {
        background-color: rgb(246, 246, 250);
        padding: 20px;
        border-radius: 3px;
        border: 1px solid #949494;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: #68649f; 
    }
   
    a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

   
    .standalone-link {
        display: block;
        margin-bottom: 10px
    }


    p::first-letter { font-size: 125%;}

